@{
    ViewBag.Title = "Browse Page";
}

<div class="jumbotron">
    <h1>PASAL</h1>
    <p class="lead">Simple Shopping Platform</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Electronics</h2>
        <p>
            You can browse the electronic stuffs from Amazon.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Electronics")">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dress</h2>
        <p>Update your fashion</p>
        <p><a class="btn btn-default" href="http://www1.macys.com/">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Food</h2>
        <p>Finish your hunger</p>
        <p><a class="btn btn-default" href="https://www.dominos.com/en/pages/order/#/locations/search/">Click here &raquo;</a></p>
    </div>
</div>