@{
    ViewBag.Title = "Browse Page";
}

<div class="jumbotron">
    <h1>PASAL</h1>
    <p class="lead">Simple Shopping Platform</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Electronics</h2>
        <p>
            You can browse the electronic stuffs.
        </p>
        <p><a class="btn btn-default" href="http://www.amazon.com/b/ref=s9_acss_bw_cg_WLCPampa_2a1?ie=UTF8&node=2407749011&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-5&pf_rd_r=01YTXB7T91T5TQRQZM14&pf_rd_t=101&pf_rd_p=2425357822&pf_rd_i=2335752011">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dress</h2>
        <p>Update your fashion</p>
        <p><a class="btn btn-default" href="http://www1.macys.com/">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Food</h2>
        <p>Finish your hunger</p>
        <p><a class="btn btn-default" href="https://www.dominos.com/en/pages/order/#/locations/search/">Click here &raquo;</a></p>
    </div>
</div>